<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alex Melagrano</title>

    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>

    <div class="outer-container">

        <div class="intro">
            <h1>
                hey!
            </h1>
            <h5>
                i'm <span class="highlight">alex melagrano,</span><br/> and i like to build cool stuff.
            </h5>
        </div>

        <div class="bio">
            <p>
                I'm a <span class="highlight">student at Northeastern University</span>, working towards a degree in
                Computer Science and Cognitive Psychology - and a minor in Philosphy, because why not.  I'm also a
                <span class="highlight">Software Engineer at Catalant Technologies</span>, work for Northeastern's student
                newspaper, and have a sweet spot for fresh pasta. If I'm not coding, I'm either watching Netflix or roaming
                Boston with an 80's film camera (<a href="https://www.flickr.com/photos/alexmelagrano/" target="_blank" class="link">check out some of my work here</a>).
            </p>
        </div>

        <div class="twitter-spotify">
            <h4 class="subheader">what i've been up to</h4>
            <div class="twitter-link">
                <div class="container">
                <blockquote class=\"twitter-tweet\"\u003E\u003Cp lang=\"en\" dir=\"ltr\"\u003E\uD83E\uDD51\uD83E\uDD51\uD83E\uDD51\uD83E\uDD51\uD83E\uDD51\uD83E\uDD51\uD83E\uDD51\uD83E\uDD51\uD83E\uDD51\uD83E\uDD51\uD83E\uDD51\uD83E\uDD51\uD83E\uDD51\uD83E\uDD51\uD83E\uDD51 \u003Ca href=\"https:\/\/twitter.com\/CA_Avocados\"\u003E@CA_avocados\u003C\/a\u003E, THIS IS NOT A DRILL. THE AVOCADO EMOJI IS HERE! \u003Ca href=\"https:\/\/twitter.com\/hashtag\/eatyouremojis?src=hash\"\u003E#eatyouremojis\u003C\/a\u003E\u003C\/p\u003E&mdash; Alex Melagrano (@alex_the_melon) \u003Ca href=\"https:\/\/twitter.com\/alex_the_melon\/status\/808443105229864961\"\u003EDecember 12, 2016\u003C\/a\u003E\</blockquote><script async src=\"\/\/platform.twitter.com\/widgets.js\" charset=\"utf-8\"></script>
                <meta name="twitter:card" content="summary" />
                <meta name="twitter:site" content="@alex_the_melon" />
                <meta name="twitter:title" content="Small Island Developing States Photo Submission" />
                <meta name="twitter:description" content="View the album on Flickr." />
                <meta name="twitter:image" content="https://farm6.staticflickr.com/5510/14338202952_93595258ff_z.jpg" />
            </div>

            </div>
            <div class="spotify-link">
                <iframe src="https://open.spotify.com/embed?uri=spotify:track:5wTVNpi5WDByxBgKgUE6MU" width="400" height="80" frameborder="0" allowtransparency="true"></iframe>
                <iframe src="https://open.spotify.com/embed?uri=spotify:track:0Kz9aGVgFvndWkcaiylIt5" width="400" height="80" frameborder="0" allowtransparency="true"></iframe>
                <iframe src="https://open.spotify.com/embed?uri=spotify:track:3oUSdLtRYOSvXcLMrHctv7" width="400" height="80" frameborder="0" allowtransparency="true"></iframe>
            </div>
        </div>

        <div class="projects">
            <h4 class="subheader">some past projects</h4>

            <!-- use Flask to iterate through a list here? or just hardcode it in -->

        </div>

        <div class="contact">

            <!-- some contact shizzy shiz -->

        </div>
    </div>
    <footer>

    </footer>

</body>

<!-- jQuery 3.2.1 CDN -->
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  crossorigin="anonymous">
</script>

<!-- Script for portfolio.html -->
<script href="/js/portfolio.js"></script>

</html>